{% extends 'formdiagnosis/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="top_display">
        <h1 align = 'center'>โอกาสที่คุณจะเป็นโรค อุบัติเหตุ</h1>
        <h3 align = 'center' class="ml-5">{{percent}}%</h3>
    </div>
    <div class="des-layout">
        <div class="description" style="outline-color: #EEAE20;">
            <h2>การปฏิบัติตนเบื้องต้น</h2>
            <p align = 'left'>- แผลพอง</p>
            <p align = 'left'>1. ทำความสะอาดแผลพอง ผิวหนังรอบ ๆ และเครื่องมือที่จะใช้ด้วยน้ำยาฆ่าเชื้อโรค</p>
            <p align = 'left'>2. นำเครื่องมึงเจาะและดูดออกเหลวออกจากแผล</p>
            <p align = 'left'>3. ไม่ดึงผิวหนังส่วนบนของแผลออก</p>
            <p align = 'left'>4. ใช้ยาใส่แผลฆ่าเชื้อ</p>
            <p align = 'left'>5. ผิดแผลด้วยผ้าทำแผล</p>
            <p align = 'left'>- แผลถลอกและแผลมีเลือดออก</p>
            <p align = 'left'>1. ทำความสะอาดโดยใช้สบู่และน้ำ หรือใช้น้ำสะอาดเพียงอย่างเดียว</p>
            <p align = 'left'>2. ห้ามเลือด การห้ามเลือดให้ใช้ผ้าสะอาดหรือผ้าทำแผลวางลงบนแผลและกดให้แน่น อาจยกบาดแผลให้สูงกว่าหัวใจเพื่อลดแรงดันของเลือดบริเวณแผล</p>
        </div>
        <div class="description ml-5" style="outline-color: greenyellow;">
            <h2>ข้อเสนอแนะ</h2>
            <p align = 'left'>- เลือดไหลออกมามากและมีสีแดงสด</p>
            <p align = 'left'>- ไม่สามารถล้างเอาเศษต่าง ๆ ออกจากบาดแผลได้</p>
            <p align = 'left'>- บาดแผลอยู่บริเวณที่ไม่ต้องการให้เกิดแผลเป็น</p>
            <p align = 'left'>- บาดแผลเป็นสีแดงและเป็นบริเวณกว้างพร้อมกับมีหนอง</p>
            <p align = 'left'>- บาดแผลใหญ่และลึกซึ่งอาจต้องเย็บแผล</p>
            <p align = 'left'>หากมีอาการเหล่านี้ควรไปพบแพทย์ผู้เชี่ยวชาญเพื่อวินิจฉัยเพิ่มเติมและหาแนวทางการรักษา</p>
            <h2>ยาที่แนะนำ</h2>
            <p align = 'left'>- ยาโพวิโดนไอโอดีน (หลังจากทำความสะอาดแผล เสร็จแล้วจึงทำการใส่ยา)
            <p> <font color= "red"> * ระวังห้ามให้เข้าตา และหากมีอาการระคายเคืองหรือผื่นแดงควรหยุดใช้ยา * </p> </font>
	        <p> <font color= "red"> * ก่อนการใช้งาน โปรดอ่านฉลากบนผลิตภัณฑ์อย่างละเอียดอีกครั้ง * </p> </font>
        </div>
    </div>
    <div class="return-button">
        <a href="{% url 'home-page' %}"><button type="button" class="btn btn-primary mr-1">กลับไปหน้าแรก</button></a>
    </div>
</div>
{% endblock %}