{% extends 'formdiagnosis/base.html' %}
{% load static %}
{% block content %}
<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="top_display">
        <h1 align = 'center'>คุณมีโอกาสที่จะเป็นโรค ไอ</h1>
        <h3 align = 'center' class="ml-5">{{percent}}%</h3>
    </div>
    <div class="des-layout">
        <div class="description" style="outline-color: #EEAE20;">
            <h2>การปฏิบัติตนเบื้องต้น</h2>
            <p align = 'left'> - ควรทำร่างกายให้อบอุ่นอยู่เสมอ</p>
            <p align = 'left'> - ควรพักผ่อนให้เพียงพอและทำร่างกายให้แข็งแรง</p>
            <p align = 'left'> - สำหรับการไอแห้งที่ไม่รุนแรงจะใช้ยาอม หรือใช้ชะเอมน้ำผึ้ง ไม่ควรดื่มน้ำเย็นเพราะจะทำให้ไอมากขึ้น</p>
            <p align = 'left'> - การไอแบบมีเสมหะที่ไม่รุนแรง ควรใช้วิธีดื่มน้ำอุ่นบ่อย ๆ ในปริมาณมาก ๆ เพราะทะทำให้บรรเทาอาการไอลงได้</p>
        </div>
        <div class="description ml-5" style="outline-color: greenyellow;">
            <h2>ข้อเสนอแนะ</h2>
            <p align = 'left'>- หากมีอาการไอติดต่อกันนานเกิน 7 วัน ไอโดยไม่ทราบสาเหตุร่วมกับมีน้ำหนักลดหรือมีเลือดออก ไอร่วมกับหอบ ไอร่วมกับมีไข้นานกว่า 1 สัปดาห์ (ร่างกายอุณหภูมิสูงกว่า 37.5 องศา) ไอมีเสมหะสีเขียวหรือเหลือง ควรไปพบแพทย์ผู้เชี่ยวชาญเพื่อวินิจฉัยเพิ่มเติมและหาแนวทางการรักษา</p>
            <h2>ยาที่แนะนำ</h2>
            <p align = 'left'>- ยาแก้ไอน้ำดำ</p>
            <p align = 'left'> - ผู้ใหญ่ : รับประทานครั้งละ 1-2 ช้อนชา</p>
            <p align = 'left'> - เด็กอายุ 6-12 ปี : รับประทานครั้งละ ½ หรือ 1ช้อนชา</p>
            <p> <font color= "red"> * ห้ามใช้ในเด็กอายุต่ำกว่า 6 ปี คนชรา และหญิงมีครรภ์ และห้ามใช้ติดต่อกันนานเกิน 3 วัน * </p> </font>
            <p> <font color= "red"> * ก่อนการใช้งาน โปรดอ่านฉลากบนผลิตภัณฑ์อย่างละเอียดอีกครั้ง * </p> </font>
        </div>
    </div>
    <div class="return-button">
        <a href="{% url 'home-page' %}"><button type="button" class="btn btn-primary mr-1">กลับไปหน้าแรก</button></a>
    </div>
</div>
{% endblock %}