{% extends 'formdiagnosis/base.html' %}
{% load static %}
{% block content %}
<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="top_display">
        <h1 align = 'center'>คุณมีโอกาสที่จะเป็นโรค พยาธิ</h1>
        <h3 align = 'center' class="ml-5">{{percent}}%</h3>
    </div>
    <div class="des-layout">
        <div class="description" style="outline-color: #EEAE20;">
            <h2>การปฏิบัติตนเบื้องต้น</h2>
            <p align = 'left'> - อาบน้ำบ่อย ๆ โดยเฉพาะหลังตื่นตอนนอนตอนเช้า และเสื้อผ้าที่สมควรซักให้สะอาดอยู่เสมอ</p>
            <p align = 'left'> - ตัดเล็บให้สั้น อย่าแทะเล็บหรือเกาบริเวณทวารหนัก</p>
            <p align = 'left'> - ล้างมือให้สะอาดก่อนรับประทานอาหารและหลังถ่ายอุจจาระ</p>
            <p align = 'left'> - รับประทานอาหารที่สุกและดื่มน้ำสะอาด</p>
            <p align = 'left'> - สวมรองเท้าทุกครั้งทีออกจากบ้าน</p>
        </div>
        <div class="description ml-5" style="outline-color: greenyellow;">
            <h2>อาการ</h2>
            <p align = 'left'>- โรคพยาธิไส้เดือน  : มักมีอาการปวดท้อง ท้องเสียบ่อย ๆ ท้องอืด รับประทานอาหารมากแต่ผอม</p>
            <p align = 'left'>- โรคพยาธิเส้นด้ายหรือเข็มหมุด : คันบริเวณทวารหนัก โดยเฉพาะตอนกลางคืน ทำให้นอนไม่หลับ อาจมีอาการปวดท้อง คลื่นไส้ แต่ไม่มาก เบื่ออาหาร น้ำหนักลด</p>
            <p align = 'left'>- โรคพยาธิปากขอ : ผู้ที่ป่วยเป็นโรคนี้อาจเกิดโรหิตจาง มีอาการเบื่ออาหาร คลื่นไส้ อาเจียน ถ่ายเป็นมูกเลือด และมีไข้ต่ำ ๆ ต่อมาจะมีอาการปวดท้องและบริเวณลิ้นปี่ ท้องอืด ซีด อ่อนเพลีย เหนื่อย หอบ ถ้านานจะบวมตามบริเวณหน้าและแขนขา</p>
            <p align = 'left'>- โรคพยาธิแส้ม้า : มีอาการนอนไม่หลับ เบื่ออาหาร ท้องอืด และท้องเดินเรื้อรัง</p>
            <h2>ยาที่แนะนำ</h2>
            <p align = 'left'>- ยามีเบนดาโซล </p>
            <p align = 'left'>การรักษาตนเองโดยการใช้ยาถ่ายพยาธิลำไส้ ยาถ่ายพยาธิลำไส้ที่แนะนำ คือ ยาถ่ายพยาธิตัวกลมมีเบนดาโซล ซึ่งเป็นยาสามัญประจำบ้าน ยาถ่ายพยาธิชนิดชี้ใช้ได้เฉพาะกับพยาธิตัวกลม ได้แก่ พยาธิปากขอ พยาธิไส้เดือน พยาธิเข็มหมุด และพยาธิแส้ม้า</p>
            <p align = 'left'>เด็กอายุตั้งแต่ 2 ปีขึ้นไปรวมทั้งผู้ใหญ่ที่เป็นโรคพยาธิเส้นด้ายและพยาธิเข็มหมุดให้รับประทานยาถ่ายพยาธิตัวกลมมีเบนดาโซล ครั้งละ 1 เม็ดหลังอาหารเย็นเพียงครั้งเดียว แต่ถ้าเป็นโรคพยาธิตัวกลมอื่น ๆ </p>
            <p align = 'left'>เช่นพยาธิปากขอ พยาธิไส้เดือน และพยาธิแส้ม้า ให้รับประทานยาถ่ายพยาธิตัวกลมมีเบนดาโซล ครั้งละ 1 เม็ด วันละ 2 ครั้ง หลังจากอาหารเช้าและอาหารเย็น รับประทานติดต่อกัน 3 วัน หลังจากรับประทานยาครบ 3 วันแล้ว นับต่อไปอีก 2 สัปดาห์ อาจให้รับประทานยาซ้ำอีกครั้ง 1 เม็ด</p>
            <p> <font color= "red"> * เด็กอายุต่ำกวา2ปีห้ามรับประทานยานี้ และไม่ควรใช้ยานี้ในสตรีที่มีครรภ์ในระยะ 3 เดือนแรกและผู้ที่เป็นโรคตับ * </p> </font>
            <p> <font color= "red"> * ก่อนการใช้งาน โปรดอ่านฉลากบนผลิตภัณฑ์อย่างละเอียดอีกครั้ง * </p> </font>
        </div>
    </div>
    <div class="return-button">
        <a href="{% url 'home-page' %}"><button type="button" class="btn btn-primary mr-1">กลับไปหน้าแรก</button></a>
    </div>
</div>
{% endblock %}